doctype html
html
  head
    style.
      .text {
        color: #333;
        font-size: 18px;
        font-weight: bold;
      }
      .center {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
  body.center
    p.text Hi, #{name}
    p.text We are missing you in TGL Nest, how about a Bet?